{% extends "cards/base.html" %}

{% block content %}
<div class="features">
    <h1>{{ category_object.title }}</h1>
    <h6>Всего: {{ cards.count }} карточек</h6>

    <table class="table table-dark table-striped table-hover">
        <thread>
            <tr>
                <th scope="coll">#</th>
                <th scope="col">Слово</th>
                <th scope="col">Перевод</th>
                <th scope="col">Фото</th>
            </tr>
        </thread>
        <tbody>
             {% for w in cards %}
                 <tr>
                    <th scope="coll">*</th>
                    <td><a href="{{ w.get_absolute_url }}">{{ w.title_native_language }}</a></td>
                    <td>{{ w.translate_studied_language }}</td>
                    {% if w.photo %}
                        <td>Добавлено</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                 </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'add_card' category_object.id %}"><li><button class="btn btn-info">Добавить карточку</button></li></a><br>
    <a href="{% url 'update_category' category_object.id %}"><li><button class="btn btn-success">Изменить имя списка</button></li></a><br>
    <a href="{% url 'delete_category' category_object.id %}"><li><button class="btn btn-danger">Удалить список</button></li></a>
</div>
{% endblock %}